<!-- Author: Raphael Huang   2/22. -->
<!-- Modifications: Sunny Patel 2/28 - Fixed improper linking bug-->
<!DOCTYPE html>
<html>
<head>
<style>
body {
    font-style: Garamond;
}
img {
    border-radius: 1px;
    float: right
}

p{
margin: 10px 10px 20px 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;

}
td:first-child {
  font-weight: bold;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #CC0B1E;
    color: white;
}
</style>
</head>
<body>

<h2>
Jobs List
<img src="http://i.imgur.com/LJZKQ4E.jpg" alt="OSU" width="200" height="60" >
</h2>

<p>
Source from: <a href=https://www.jobsatosu.com/postings/search>Careers at Ohio State</a>
</p>

<div style="overflow-x:auto;">
  <table>
   <tr>
        <th>Position</th>
      	<th>Working Title</th>
        <th>Department</th>
        <th>Application Deadline</th>
        <th>Job Opening Number</th>
        <th>Target Salary</th>
	<th>Link</th>
   </tr>

	<%= @content %>

  </table>
</div>

</body>
</html>

